[submodule "clowncommon"]
	path = clowncommon
	url = https://github.com/Clownacy/clowncommon
[submodule "tests/s1disasm"]
	path = tests/s1disasm
	url = https://github.com/sonicretro/s1disasm
[submodule "tests/s2disasm"]
	path = tests/s2disasm
	url = https://github.com/sonicretro/s2disasm
[submodule "tests/skdisasm"]
	path = tests/skdisasm
	url = https://github.com/sonicretro/skdisasm
[submodule "tests/Sonic-2-Aug-21st-Disassembly"]
	path = tests/Sonic-2-Aug-21st-Disassembly
	url = https://github.com/Clownacy/Sonic-2-Aug-21st-Disassembly
